<!DOCTYPE html>
<html lang="en">  
    <head>  
    <!-- BOOTSTRAP https://getbootstrap.com/ -->  
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
        crossorigin="anonymous">  
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
        crossorigin="anonymous">
    </script>  
    <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        {% block navbar %}{% endblock %}
        {% block content %}
        {% endblock %}
    </body>
</html>