{% extends "base.html" %}
{% block navbar %}
<div class="navbar">
    <a href="#">Dashboard</a>
    <a href="/login">Exit</a>
</div>
{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2>Last Recorded Temperature</h2>
            <p>Timestamp: {{ last_record.timestamp }}</p>
            <p>Temperature: {{ last_record.temp }}</p>
        </div>
        <div class="col-md-6">
            <h2>Last {{ num_records }} Recorded Temperatures</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th>Temperature</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in last_records %}
                    <tr>
                        <td>{{ record.timestamp }}</td>
                        <td>{{ record.temp }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <form method="post" action="/delete_records">
                <div class="form-group">
                    <label for="numToDelete">Delete Oldest Records</label>
                    <input type="number" class="form-control" id="numToDelete" name="numToDelete">
                </div>
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}