{% extends "base.html" %}
{% block navbar %}
<div class="navbar">
    <a href="#dashboard">Dashboard</a>
    <a href="#exit">Exit</a>
  </div>
{% endblock %}
{% block content %}
<div class="form-container">
    <h2>Login</h2>
    <form action="/dashboard" method="post">
        <p class="error">{{error}}</p>
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Login">
        <a href="/register">register</a>
    </form>
</div>
{% endblock %}
