{% extends "base.html" %}
{% block navbar %}
<div class="navbar">
    <a href="#dashboard">Dashboard</a>
    <a href="#exit">Exit</a>
  </div>
{% endblock %}
{% block content %}
<div class="form-container">
    <h2>Registration</h2>
    <form action="/register" method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="password-confirm" placeholder="Confirm password" required>
        <input type="submit" value="Registr">
    </form>
</div>
{% endblock %}