body {
   font-family: Arial, sans-serif;
   
}

.error{
   color: red;
}
.form-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.form-container h2 {
    text-align: center;
}
.form-container a{
   color: #007bff;
   text-decoration: none;
}
.form-container a:hover{
   color:#0056b3;
}

.form-container form{
   text-align: center;
}

.form-container input[type="text"],
.form-container input[type="password"] {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom:10px;
    padding-top: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.form-container input[type="submit"] {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom:10px;
    padding-top: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
.form-container input[type="submit"]:hover {
    background-color: #0056b3;
}

.navbar {
   justify-content:center;
   background-color: #333;
   overflow: hidden;
   margin-bottom: 20px;
}
.navbar a {
   float: left;
   display: block;
   color: white;
   text-align: center;
   padding: 14px 20px;
   text-decoration: none;
}
.navbar a:hover {
   background-color: #ddd;
   color: black;
}
.navbar a.active {
   background-color: #007bff;
}